.projects-container {
  position: absolute;
  left: 0;
  width: 100%;
  display: flex;
  align-items: flex-start;
  flex-direction: column;

  z-index: 3;
}

.message-layer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  padding-inline: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}
