@use "@/styles/media";

.account-details {
  display: flex;
  gap: 20px;

  @include media.layout(phone) {
    gap: 15px;
    flex-direction: column;
  }
}

.user-photo {
  width: 90px;
  aspect-ratio: 1;
  border-radius: 20px;
}

.account-content {
  display: flex;
  gap: 10px;
  flex-direction: column;
  justify-content: space-between;
}

.user-info {
  max-width: 300px;

  &__name {
    font-size: 20px;
  }

  &__email {
    font-size: 16px;
    color: var(--clr-dark-gray);
    line-height: 1;
  }
}

.user-actions {
  display: flex;
}
