.form-content {
  min-height: 150px;
  padding-block: 10px;
}

.input-group {
  margin-bottom: 20px;
  display: flex;
  gap: 12px;
}

.name-input {
  height: 38px;
  max-width: calc(100% - 50px);
  flex-grow: 1;
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid var(--clr-light-gray);
  border-radius: 10px;
}

.symbol-input {
  flex: 0 0 38px;
}
