.form-content {
  padding-block: 10px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.input-group {
  display: flex;
  justify-content: flex-start;
}

.name-input {
  height: 38px;
  width: 100%;
  padding: 12px 16px;
  font-size: 14px;
  border: 1px solid var(--clr-light-gray);
  border-radius: 10px;

  &--error {
    border-color: var(--clr-danger);
  }
}
