@use "@/styles/media";

.chart {
  &__top-panel {
    height: 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__header {
    font-size: 16px;
    font-weight: 400;
  }

  &__bar-chart {
    height: 250px;
  }

  @include media.layout(phone) {
    &__header {
      font-size: 14px;
    }
  }
}
