@use "@/styles/media";

.item-card-container {
  padding-left: 30px;

  .padding-mobile {
    padding-left: 10px;
  }

  @include media.layout(phone) {
    padding-left: 25px;
  }
}

.item-card {
  position: relative;
  width: fit-content;
  border: 1px solid var(--clr-light-gray);
  border-radius: 8px;
  background-color: #ffffff;

  @include media.layout(phone) {
    min-width: 100px;
    width: 60vw;
  }
}

.expand-button {
  position: absolute;
  bottom: 0;
  left: -27px;
  width: 20px;
  height: 20px;
  color: var(--clr-black);
  background-color: #ffffff;

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 30px;
    height: 30px;
    left: -5px;
    top: -5px;
  }
}
