@use "@/styles/shared";
@use "@/styles/media";

.container {
  min-height: 580px;
  padding: 40px clamp(35px, 4.5vw, 45px);
  display: flex;

  --section-padding: clamp(30px, 3.7vw, 40px);

  @include media.layout(tablet) {
    padding: 20px 25px;
    flex-direction: column;
  }
  @include media.layout(phone) {
    padding: 20px 16px;
  }
}

.home__hr {
  display: none;

  @include media.layout(tablet) {
    display: block;
  }
}

.weekly-view {
  width: 50%;
  padding-right: var(--section-padding);

  @include media.layout(tablet) {
    width: 100%;
    padding: 0;
    padding-bottom: 40px;
  }
}

.tasks-view {
  position: relative;
  width: 50%;
  padding-left: var(--section-padding);

  &::before {
    content: "";
    position: absolute;
    display: block;
    width: 2px;
    height: 100%;
    left: -1px;
    top: 0;
    background-color: var(--clr-light-gray);
  }

  @include media.layout(tablet) {
    padding: 0;
    padding-top: 40px;
    width: 100%;

    &::before {
      display: none;
    }
  }
}
