@use "@/styles/media";

.task-item {
  width: 100%;
  height: 100%;
  padding-inline: 16px 5px;
  display: flex;
  align-items: flex-start;
  gap: 15px;

  &__text {
    padding-block: 8px;
    font-size: 16px;
  }

  @include media.layout(phone) {
    padding-inline: 8px 3px;
    gap: 7px;
  }
}

.col-checkbox {
  height: 40px;
  width: 20px;
}

.col-text {
  height: auto;
  width: 170px;

  @include media.layout(phone) {
    flex: 1;
  }
}

.col-progress {
  height: 40px;
  width: 50px;

  @include media.layout(phone) {
    display: none;
  }
}

.col-date-form {
  height: 40px;
  width: 145px;

  @include media.layout(tablet) {
    display: none;
  }
}

.col-menu {
  height: 40px;
  width: 30px;
}
