.project-select-box {
  padding: 3px 8px;
  width: 100px;
  font-size: 12px;
  border-radius: 12px;
  user-select: none;
  cursor: pointer;

  &__spinner {
    width: 100px;
    height: 24px;
  }

  &__error {
    background-color: var(--clr-danger-soft);
    color: var(--clr-danger);
  }
}

.project-name {
  display: inline-block;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
