@use "@/styles/media";

.item {
  position: absolute;
  top: 6%;
  left: 15%;
  width: 70%;
  cursor: pointer;

  touch-action: none;
  user-select: none;
  -webkit-user-drag: none;

  * {
    -webkit-user-drag: none;
    user-select: none;
  }

  @include media.layout(phone) {
    top: 7%;
    left: 7%;
    width: 84%;
  }
}
