@use "@/styles/media";

.item {
  position: absolute;
  top: 6%;
  left: 15%;
  width: 70%;
  touch-action: none;
  user-select: none;
  cursor: pointer;

  @include media.layout(phone) {
    top: 7%;
    left: 7%;
    width: 84%;
  }
}
