.card {
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border: 1px solid var(--clr-light-gray);
  border-radius: 10px;

  &__header {
    position: relative;
  }

  &__chip {
    margin-top: 3px;
    margin-right: 0.5em;
    float: left;
  }

  &__title {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    line-clamp: 2;
    overflow: hidden;
    font-size: 16px;
    font-weight: 500;
  }

  &__date {
    font-size: 14px;
    color: var(--clr-dark-gray);
  }

  &__footer {
    width: 100%;
    display: flex;
    gap: 15px;
    align-items: flex-end;
  }
}

.progress-container {
  flex: 1;
}

.progress__label {
  color: var(--clr-dark-gray);
  font-size: 20px;
  font-weight: 700;
}

.add-task-link {
  width: 35px;
  height: 35px;
  border: 1px solid var(--clr-light-gray);
  border-radius: 8px;
  color: var(--clr-dark-gray);
}
