.select-opener {
  height: 32px;
  padding-inline: 12px;
  display: flex;
  gap: 15px;
  align-items: center;
  border: 1px solid var(--clr-light-gray);
  font-size: 14px;
  font-weight: 300;
  border-radius: 8px;
  cursor: pointer;
  transition: background 300ms ease-out, color 300ms ease-out;

  &:hover {
    background-color: var(--clr-soft-gray);
  }
}
